/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */
   article {
       
    
}/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    
}
/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}
/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

h1.uppercase{
    text-transform: uppercase;
}

.w-100{
    width: 100%;
}

.d-block{
    display: block;
}

.img{
    vertical-align: middle;
}

.carousel-item{
    position: relative;
    width: 100%;
    align-items: center;
    perspective: 1000px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

body{
    background-color: rgba(218, 224, 227, 1);
}

.tunes{
    width: 100%;
}

.header{
    display: block;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.collapsed{
   color: rgba(218, 224, 227, 1);

}



.card-header{
    background-color:rgb(255, 64, 76);
   
}
.card{
background-color: rgba(218, 224, 227, 1);
border-color: rgba(218, 224, 227, 1);
}

a{
    text-decoration: none;
    color: none;
}
a{
    text-decoration: none;
    color: rgb(14, 35, 45);
}
a:hover{
    text-decoration: none;
    color: rgb(250, 137, 145);

}

.btn{
    margin-left: 85%;
}
.btn-outline-dark{
    color: rgb(14, 35, 45);
    border-color: rgb(14, 35, 45);
}

.socialmedia{
    align-content: center;
    height: 50px;
    width: 50px;
    margin-top: 40px;
    margin-bottom: 20px;

}

.socialmedia:hover {
  opacity: 0.5;
}

ol{
    color: rgb(204, 51, 61);
}

li:hover{
    color: rgb(14, 35, 45);
}

#accordion{
    margin-top: 2%;
}

.afspelen{
    height: 25px;
    width: 100px;
    margin-right: 2%;
}

hr{
    width: 60%;
    border-top:1px solid rgb(14, 35, 45);
    margin-top: 10%;
}


